.Pokedex {
    margin: 50px;

}

.Pokedex-title {
    line-height: 2px;
}

.Pokedex-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 2px black solid;
}

.Pokedex-winner {
    color: #4caf50;
}

.Pokedex-loser {
    color: #e91e63;
}